# Database
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=notenest

# SMS CONFIG
SMS_EXPIRES_IN=5m
SMS_TEMPLATEID_NOTE_CREATED=your_template_id
SMS_IR_API_KEY_TEST=your_test_api_key
SMS_IR_API_KEY=your_production_api_key
